<launch>

  <!-- USE: roslaunch nefive-core urdf_visualize.launch model:='$(find nefive-core)/urdf/nefive.urdf' -->
  <arg name="model" default="nefive"/>

  <param name="nefive_robot_description" command="cat $(find nefive-core)/urdf/nefive-unity.urdf" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nefive-core)/rviz_config/nefive.rviz"/>

</launch>
